.vs/KritaColorPlus/CopilotIndices/17.13.441.19478/CodeChunks.db
.vs/KritaColorPlus/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/KritaColorPlus/FileContentIndex/94e8f0d2-a6a0-4237-a0f2-4b4a7b7698bb.vsidx
.vs/KritaColorPlus/FileContentIndex/716f9481-ee60-4aec-ace5-50033655ce9e.vsidx
.vs/KritaColorPlus/copilot-chat/273f3cdd/sessions/708b2f09-7cb3-4799-8f73-640bb94c4c21
