/.vs/KritaColorPlus/CopilotIndices/17.13.441.19478/CodeChunks.db
/.vs/KritaColorPlus/CopilotIndices/17.13.441.19478/SemanticSymbols.db
/.vs/KritaColorPlus/FileContentIndex/64abcc15-2bfd-43e7-b5f5-cd69eba7e0dc.vsidx
/.vs/KritaColorPlus/FileContentIndex/e94a2356-29d4-49f4-b2f0-627bb4bd96ed.vsidx
/.vs/KritaColorPlus/copilot-chat/273f3cdd/sessions/263d166f-a071-4c09-87cf-e18026511443
/.vs/KritaColorPlus/copilot-chat/273f3cdd/sessions/708b2f09-7cb3-4799-8f73-640bb94c4c21
/.vs/KritaColorPlus/v17/.wsuo
/.vs/KritaColorPlus/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
