/.vs/KritaColorPlus/CopilotIndices/17.13.441.19478/CodeChunks.db
/.vs/KritaColorPlus/CopilotIndices/17.13.441.19478/SemanticSymbols.db
/.vs/KritaColorPlus/FileContentIndex/64abcc15-2bfd-43e7-b5f5-cd69eba7e0dc.vsidx
/.vs/KritaColorPlus/FileContentIndex/e94a2356-29d4-49f4-b2f0-627bb4bd96ed.vsidx
/.vs/KritaColorPlus/copilot-chat/273f3cdd/sessions/263d166f-a071-4c09-87cf-e18026511443
/.vs/KritaColorPlus/copilot-chat/273f3cdd/sessions/708b2f09-7cb3-4799-8f73-640bb94c4c21
/.vs/KritaColorPlus/v17/.wsuo
/.vs/KritaColorPlus/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-console-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-console-l1-2-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-datetime-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-debug-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-errorhandling-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-fibers-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-file-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-file-l1-2-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-file-l2-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-handle-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-heap-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-interlocked-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-libraryloader-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-localization-l1-2-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-memory-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-namedpipe-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-processenvironment-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-processthreads-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-processthreads-l1-1-1.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-profile-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-rtlsupport-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-string-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-synch-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-synch-l1-2-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-sysinfo-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-timezone-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-core-util-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-crt-conio-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-crt-convert-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-crt-environment-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-crt-filesystem-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-crt-heap-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-crt-locale-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-crt-math-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-crt-multibyte-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-crt-private-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-crt-process-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-crt-runtime-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-crt-stdio-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-crt-string-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-crt-time-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/api-ms-win-crt-utility-l1-1-0.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/clretwrc.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/clrjit.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/coreclr.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/createdump.exe
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/dbgshim.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/hostfxr.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/hostpolicy.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/KritaMouseHook.deps.json
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/KritaMouseHook.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/KritaMouseHook.exe
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/KritaMouseHook.pdb
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/KritaMouseHook.runtimeconfig.json
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/Microsoft.CSharp.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/Microsoft.DiaSymReader.Native.amd64.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/Microsoft.VisualBasic.Core.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/Microsoft.VisualBasic.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/Microsoft.Win32.Primitives.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/Microsoft.Win32.Registry.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/mscordaccore_amd64_amd64_6.0.3624.51421.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/mscordaccore.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/mscordbi.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/mscorlib.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/mscorrc.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/msquic.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/netstandard.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.AppContext.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Buffers.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Collections.Concurrent.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Collections.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Collections.Immutable.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Collections.NonGeneric.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Collections.Specialized.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.ComponentModel.Annotations.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.ComponentModel.DataAnnotations.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.ComponentModel.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.ComponentModel.EventBasedAsync.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.ComponentModel.Primitives.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.ComponentModel.TypeConverter.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Configuration.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Console.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Core.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Data.Common.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Data.DataSetExtensions.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Data.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Diagnostics.Contracts.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Diagnostics.Debug.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Diagnostics.DiagnosticSource.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Diagnostics.FileVersionInfo.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Diagnostics.Process.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Diagnostics.StackTrace.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Diagnostics.TextWriterTraceListener.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Diagnostics.Tools.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Diagnostics.TraceSource.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Diagnostics.Tracing.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Drawing.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Drawing.Primitives.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Dynamic.Runtime.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Formats.Asn1.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Globalization.Calendars.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Globalization.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Globalization.Extensions.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.IO.Compression.Brotli.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.IO.Compression.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.IO.Compression.FileSystem.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.IO.Compression.Native.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.IO.Compression.ZipFile.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.IO.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.IO.FileSystem.AccessControl.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.IO.FileSystem.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.IO.FileSystem.DriveInfo.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.IO.FileSystem.Primitives.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.IO.FileSystem.Watcher.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.IO.IsolatedStorage.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.IO.MemoryMappedFiles.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.IO.Pipes.AccessControl.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.IO.Pipes.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.IO.UnmanagedMemoryStream.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Linq.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Linq.Expressions.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Linq.Parallel.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Linq.Queryable.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Memory.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Net.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Net.Http.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Net.Http.Json.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Net.HttpListener.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Net.Mail.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Net.NameResolution.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Net.NetworkInformation.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Net.Ping.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Net.Primitives.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Net.Quic.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Net.Requests.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Net.Security.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Net.ServicePoint.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Net.Sockets.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Net.WebClient.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Net.WebHeaderCollection.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Net.WebProxy.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Net.WebSockets.Client.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Net.WebSockets.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Numerics.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Numerics.Vectors.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.ObjectModel.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Private.CoreLib.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Private.DataContractSerialization.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Private.Uri.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Private.Xml.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Private.Xml.Linq.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Reflection.DispatchProxy.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Reflection.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Reflection.Emit.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Reflection.Emit.ILGeneration.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Reflection.Emit.Lightweight.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Reflection.Extensions.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Reflection.Metadata.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Reflection.Primitives.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Reflection.TypeExtensions.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Resources.Reader.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Resources.ResourceManager.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Resources.Writer.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Runtime.CompilerServices.Unsafe.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Runtime.CompilerServices.VisualC.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Runtime.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Runtime.Extensions.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Runtime.Handles.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Runtime.InteropServices.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Runtime.InteropServices.RuntimeInformation.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Runtime.Intrinsics.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Runtime.Loader.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Runtime.Numerics.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Runtime.Serialization.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Runtime.Serialization.Formatters.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Runtime.Serialization.Json.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Runtime.Serialization.Primitives.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Runtime.Serialization.Xml.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Security.AccessControl.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Security.Claims.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Security.Cryptography.Algorithms.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Security.Cryptography.Cng.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Security.Cryptography.Csp.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Security.Cryptography.Encoding.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Security.Cryptography.OpenSsl.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Security.Cryptography.Primitives.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Security.Cryptography.X509Certificates.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Security.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Security.Principal.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Security.Principal.Windows.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Security.SecureString.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.ServiceModel.Web.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.ServiceProcess.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Text.Encoding.CodePages.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Text.Encoding.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Text.Encoding.Extensions.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Text.Encodings.Web.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Text.Json.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Text.RegularExpressions.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Threading.Channels.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Threading.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Threading.Overlapped.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Threading.Tasks.Dataflow.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Threading.Tasks.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Threading.Tasks.Extensions.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Threading.Tasks.Parallel.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Threading.Thread.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Threading.ThreadPool.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Threading.Timer.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Transactions.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Transactions.Local.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.ValueTuple.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Web.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Web.HttpUtility.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Windows.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Xml.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Xml.Linq.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Xml.ReaderWriter.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Xml.Serialization.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Xml.XDocument.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Xml.XmlDocument.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Xml.XmlSerializer.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Xml.XPath.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/System.Xml.XPath.XDocument.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/ucrtbase.dll
KritaMouseHookCS/bin/Debug/net6.0-windows/win-x64/WindowsBase.dll
KritaMouseHookCS/obj/Debug/net6.0-windows/win-x64/apphost.exe
KritaMouseHookCS/obj/Debug/net6.0-windows/win-x64/KritaMou.EE1D15FB.Up2Date
KritaMouseHookCS/obj/Debug/net6.0-windows/win-x64/KritaMouseHook.csproj.CoreCompileInputs.cache
KritaMouseHookCS/obj/Debug/net6.0-windows/win-x64/KritaMouseHook.csproj.FileListAbsolute.txt
KritaMouseHookCS/obj/Debug/net6.0-windows/win-x64/KritaMouseHook.dll
KritaMouseHookCS/obj/Debug/net6.0-windows/win-x64/KritaMouseHook.genruntimeconfig.cache
KritaMouseHookCS/obj/Debug/net6.0-windows/win-x64/KritaMouseHook.pdb
KritaMouseHookCS/obj/Debug/net6.0-windows/win-x64/KritaMouseHook.sourcelink.json
KritaMouseHookCS/obj/Debug/net6.0-windows/win-x64/ref/KritaMouseHook.dll
KritaMouseHookCS/obj/Debug/net6.0-windows/win-x64/refint/KritaMouseHook.dll
